/* TYPOGRAPHY */
@font-face {
  font-family: 'AnotherTag';
  src: url('../fonts/another_tag/aAnotherTag.ttf') format('truetype');
  /* Add other font styles (e.g. bold, italic) and formats (e.g. woff, woff2) as needed */
}

h1 {
  font-family: 'AnotherTag', sans-serif;
  font-size: clamp(2rem,5vw, 4rem);
  color: white;
}
/*  */

.wrapper {
  margin: 0 auto;
  width: 85%;
  
}
.App {
  text-align: center;
  background-image: url(./assets/bgImg.png);
  background-size: cover;
  background-position:center; 
  height: 100vh;
}
/* Nav */
nav {
  min-height: 20vh;
}
nav h1 {
  width: 25%;
}
nav .wrapper {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
nav img{
  width: 25%;
}
.socials {
  color: white;
  width: 25%;
}


/* Main */
.main{
  height: 60vh;
  margin-top: 50px;
}

.main .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
main aside {
  width: 25%;
  flex-grow: 1;
}
main p {
  color: red;
  text-shadow: 0 0 8px black;
  font-size: clamp(.6rem, 2vw, 1rem);
}
main img {
  width: 90%;
  flex-grow: 1.5;
  margin-top: 5px;
  position: relative;
}
main img:hover {
  content: url('./assets/noFace3dRender.gif');
  flex-grow: 1;
  
}
main .button {
  width: 25%;
}
button{
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: red;
}
button:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px red;
}








@media (max-width:800px){
  nav {
    height: 100px;
  }
  main .wrapper{
    flex-direction: column;
  }
  .shirtDetails {
    width: 75%;
  }
}
